.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25, 9, 41);
}
.footer-frame {
    height: 60px;
    width: 100%;
}
.main-footer {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
    align-items: center;
    color: white;
    height: 85px;
}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.nav-f:hover {
    color: beige;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .main-footer {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .footer-nav {
        width: 100%;
    }
}